<!DOCTYPE html>
<html lang="en">
  <!-- START HEADER -->
   <%- include('./header', {}) %>
   <!-- END HEADER -->
  <body>
    <div class="container mb-4">

    <!-- START NAVBAR -->
     <div class="mb-4">
    <%- include('./navbar',{}) %>
    </div>
    <!-- END NAVBAR -->

    <!-- START HALAMAN -->
    <!-- START COROSEL -->
     <div class="mb-4">
      <%- include('./corosel', {})  %>
      </div>
    <!-- END COROSEL -->
    <!-- START PRODUCT -->
    <%- include('./product', {})  %>
    <!-- END PRODUCT -->
    <!-- END HALAMAN -->
    </div>
    <!-- START FOOTER -->
     <%- include('./footer', {}) %>
     <!-- END FOOTER -->
  </body>
</html>
